body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 13%, rgb(27, 36, 48) 46%,rgb(27, 36, 48) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 500%;
    min-height: 950px;
    min-width: 100%;
    margin-top: 3%;
}


.chart{
    float:left;
    width: 100%; 
    margin: auto;
    background-color:white;
    padding:5px;
}
.number {
    color:red;
    font-size: 15px;
    
} 
.i{
    color:red;
}

.week-container{
    float: left;
}
h1{
    float:left;
}
h2{
    font-size: 60px;
    font-family: fantasy;
}
.card-h1{
    font-size: 30px;
    margin-left: 20px;
}
.logout{
    float:right;
}
.logout-logo{
    width:25px;
}

.card-header{
    float:left;
}

ul.b {
   list-style-type: none;
  }
.image-li{
    width: 20px;
}
td{
    padding:5px;
    padding-right:50px;
}
/* icons image */
.view-list{
    width: 30px;
    float:right;
}
.image-chart{
    width: 30px;
}
.table-status{
    font-size: 25px;
    font-weight: 500;
    
}
.modal-body{
    max-width: fit-content;
    overflow: auto;
}
.card-th{
    font-size: 30px;
    font-weight: 500;
}
.arrow-down{
    border: none; 
    outline: none; 
    background-color:transparent; 
    padding:15px;
}
.logos{
    margin-top: -10px;
    width: 40px;
}
.melmarkpogi{
    font-size: 30px;
    font-family: fantasy ;
    text-shadow: 1px 1px rgb(31, 70, 144);
}
.add{
    float: right;
    font-size: 10px;
    margin-top: 10px;
}
.hidethis{
    opacity: 0;
    padding: 0;
    margin: 0;
    size: 5px;
}
/* containers ====================================== */
.container-edit{
    border:1px solid black;
    background-color:white;
    border-radius: 15px;
    padding:20px;
    position: relative;
}
.chart-container{
    background-color: #DBDFFD;
    float: left;
    border-radius: 10px;
    border: 1px solid black;
}


.history-button {
    position: relative;
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid black ;
  }
  
  .history-button:after {
    content: "";
    background: black;
    display: block;
    position: absolute;
    border-radius: 9px;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .history-button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
/* History ---------------------------------00000000000000000000--------------------------------000000000000000000000000000-------------------------------------*/
   
      
/* hover  add---------------------------------------------------------------------- */
.hover {
    margin-top: -50px;
    --s: 0.1em;   /* the thickness of the line */
    --c: rgb(24, 36, 51) ; /* the color */
    
    color: #0000;
    padding-bottom: var(--s);
    background: 
      linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 0.2s;
    
  }
  .hover:hover {
    --_p: 100%
  }
  /* hover cards ------------------------------------------------------------ */
   /* status - status */
   .status-hover{
    position: relative;
    
    }
    .status-hover:before {
        content: attr(data-hover);
        visibility: hidden;
        opacity: 0;
        max-width: 300px;
        background-color: rgb(207, 210, 207);
        color: black;
        text-align: center;
        border-radius: 5px;
        padding: 10px ;
        transition: opacity 1s ease-in-out;
        position: absolute;
        z-index: 1;
        left: 10%;
        top: 100%;
        font-size: 13px;
    }

    .status-hover:hover:before {
        opacity: 0.9;
        visibility: visible;
    }

/* overview */
   
   
  .hovertext {
   position: relative;
  }
  .overview-container{
       
       float: right;
       width: 46%;
       margin-top: 40px;
       border-radius: 10px;
       background-color:white;
    
  }
  .hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 200px;
    font-size: 20px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px ;
    transition: opacity 1s ease-in-out;
  
    position: absolute;
    z-index: 1;
    left: -220px;
    top: -10px;
  }
  
  .hovertext:hover:before {
    opacity: 0.9;
    visibility: visible;
  }
/* status */

    .hovertext-status{
        float: left;
        width: 50%;
        background-color:white;
        margin-top: 40px;
        border-radius: 10px;
    }
    .myh1hover{
        position: relative;

    }
    
    .myh1hover:before {
        content: attr(data-hover);
        visibility: hidden;
        opacity: 0;
        width: 200px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        padding: 10px ;
        transition: opacity 1s ease-in-out;
        font-size: 20px;

        position: absolute;
        z-index: 1;
        right: 135px;
        top: -5px;
    }
    
  .myh1hover:hover:before {
    
    opacity: 0.9;
    visibility: visible;
  }
  /* history */
    .history-body{
        margin:10px;
    }
    .filterbutton{
        background-color: white;
        border: 0;
        border-left: 1px solid black;
        font-size: 25px;
    }
    .filtration{
        float: right;
        padding:2px;
        margin-top:10px;
    }
    .search{
        width: 40px;
        margin-top: -10px;

    }

    .history-card{
        position: relative;
        
    }
    .hovertext-history{
        border-radius: 10px;
        padding:10px;
        float: left;
        margin-top: 50px;
        background-color: white;
        margin-bottom: 20px;
        width:100%;
  }

  
 .history-card:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 130%;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px ;
    transition: opacity 1s ease-in-out;
  
    position: absolute;
    z-index: 1;
    right: 140px;
    top: 0;
    font-size: 20px;

  }
  
  .history-card:hover:before {
    opacity: 1;
    visibility: visible;
  }

  .download{
    width:40px;
    background-color: white;
    border: 0;
   padding:5px;
   margin-top: 3px; 
   position: relative;
}

.download:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 200px;
    background-color: rgb(207, 210, 207);
    color: black;
    text-align: center;
    border-radius: 5px;
    padding: 10px ;
    transition: opacity 1s ease-in-out;
    position: absolute;
    z-index: 1;
    left: 10%;
    top: 100%;
    font-size: 13px;

  }
  
  .download:hover:before {
    opacity: 0.9;
    visibility: visible;
  }
 .csv{
    font-size:20px;
    float:right;
 }
 .container-fluid{
    width: 80%;
    
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
}
 /* for responsive data 000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/

@media screen and (max-width: 1020px) 
{
   
    .container-fluid{
        width: 95%;
    }
}
 @media screen and (max-width: 800px) 
{
   
    .container-fluid{
        width: 90%;
    }
    
   .overview-container{
     
        margin-left: -5%;
        float: left;
        width: 110%;
        margin-top: 40px;
        border-radius: 10px;
        background-color:white;
        
   }
    .hovertext-status , .hovertext-history{
        margin-left: -5%;
        float: left;
        width: 110%;
        margin-top: 20px;
        border-radius: 10px;
        background-color:white;
    }

    
}
